<!-- List of pokemon -->
<div *ngIf="pokemon$ | async as pokemonList; else loading">

  <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayout.xs="column">
    <ng-container class="pokemon-section" *ngFor="let pokemon of pokemonList.results; index as id">
      <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.xl="20%" fxFlex.lg="25%">
        <!-- Begin Pokemon Card -->
        <mat-card class="pokemon-card" D-Event-Card>
          <mat-card-header fxLayout="row" fxLayoutAlign="center center">
            <div mat-card-avatar D-Change-Background-Image [index]="id" ></div>
            <mat-card-title>{{ pokemon.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image D-Change-Src [index]="id" [alt]="pokemon.name">
        </mat-card>
        <!-- End Pokemon Card -->
      </div>

    </ng-container>
  </div>

</div>

<!-- Loading Template -->
<ng-template #loading>
  <div *ngIf="error$ | async as error; else loadingError">
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="center">
        <mat-card-title>Error Status: {{ error.status }}</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align:center">
        {{ error.message }}
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template #loadingError>
  <div fxLayout="row" fxLayoutAlign="center center" class="spinner-error">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
