
.mat-card-avatar{
  margin-bottom: 10px;
}

.spinner-error{
  /*if your div is 200px, this will move it down by 200px, if it is 100px it will down by 100px etc */
  position: absolute;
  top:50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.pokemon-card{
  box-shadow: 0px 0px 3px red;
}

.pokemon-card-mouse-enter{
  box-shadow: 0px 0px 20px red;
}

.pokemon-card > .mat-card-header{
  box-shadow: 0px 0px 1px red;
}

